{% extends 'base.html' %}

{% set meta_title = 'Вака-Авто - Сервисы Техцентра' %}
{% set meta_keywords = '' %}
{% set meta_description = '' %}

{% block slider %}
  	<!--Page Cover-->
  	<section class="row page-cover" data-bgimage="/static/images/faq_slider.png">
  		<div class="row m0">
  			<div class="container">
				<h2 class="page-title">От полировки до ремонта двигателя. Легко.</h2>
			</div>
  		</div>
  	</section>
{% endblock %}
{% block content %}
    <section class="services-all" style="margin-top: 3%">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- tabs left -->
                    <ul class="nav nav-tabs tabs-left" style="margin-right: 0">
                        {% for catalog in catalogs %}
                            {% set catalog = catalog.obj %}
                            <li class="{% if not alias and loop.first or catalog.alias == alias %}active{% endif %}">
                                <a href="{{ url_for('catalog', alias=catalog.alias) }}" data-alias="{{ catalog.alias }}">
                                    <span class="{% if catalog.glyphicon %}glyphicon glyphicon-{{ catalog.glyphicon }}{% endif %}" aria-hidden="true"></span>
                                    &emsp;{{ catalog.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        {% for catalog in catalogs %}
                            {% set obj = catalog.obj %}
                            <div class="tab-pane {% if not alias and loop.first or obj.alias == alias %}active{% endif %}" id="{{ obj.alias }}">
                                {% for service in catalog.services %}
                                    <p><a href="{{ url_for('service', catalog_alias=obj.alias, service_alias=service.alias) }}">{{ service.title }}</a></p>
                                {% endfor %}
                                </div>
                        {% endfor %}
                    </div>
                    <!-- /tabs -->
                </div>
            </div>
        <!-- /row -->
        </div>
        <hr>
    </section>
{% endblock %}
