{% extends 'base.html' %}

{% set meta_title = 'Вака-Авто - Контакты автосервиса' %}
{% set meta_keywords = 'вака авто,вакаавто,вака-авто,вакаавто+,вака-авто+,автосервис,автосервис на минском шоссе,ремонт машин,ремонт иномарок,автосервис,ремонт авто,ремонт автомобилей,контакты' %}
{% set meta_description = 'Торгово-сервисный центр «ВАКА-АВТО+» принимает клиентов без выходных и оказывает услуги по авторемонту и техническому обслуживанию. Здесь вы сможете приобрести запчасти для иномарок и оставить автомобиль в руках опытных специалистов для их установки, аппаратной замены масла, ремонта бензинового двигателя или АКПП' %}

{% block content %}
    <section class="row more-services" style="margin-bottom: -5%; margin-top: -3%">
        <div class="container">
            <div class="col-md-4">
                <h2 class="this-title">Задать вопрос :</h2>
                <form id="contact-form" class="row free-analysis-form style2">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ url_for ('static', filename='images/icons/service/21.png')}}" alt=""></span>
                        <input type="text" name="name" class="form-control" placeholder="Имя">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ url_for ('static', filename='images/icons/service/22.png')}}" alt=""></span>
                        <input type="email" name="email" class="form-control" placeholder="Email адрес">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ url_for ('static', filename='images/icons/service/23.png')}}" alt=""></span>
                        <input type="tel" name="tel" class="form-control" placeholder="Номер телефона" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ url_for ('static', filename='images/icons/service/24.png')}}" alt=""></span>
                        <textarea name="text" class="form-control" placeholder="Сообщение"></textarea>
                    </div>
                  <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
                </form>
            </div>
            <br>
            <div class="col-md-8 col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.685861405744!2d37.37471495167054!3d55.71183200252293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e51cd4fbfb5%3A0x28623f1c40af75d3!2z0JLQsNC60LAt0JDQstGC0L4rLA!5e0!3m2!1sru!2sru!4v1511358502758" width="800" height="600" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
            </div>

        </div>
    </section>

  	<!--Contact Infos-->
  	<section class="row contact-infos">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-6 col-md-4 contact-info">
  					<div class="media">
  						<div class="media-left"><i class="fa fa-map-marker"></i></div>
  						<div class="media-body">
  							<h3 class="this-title">Удобное расположение</h3>
  							<ul class="list-unstyled">
  								<li>г. Москва,  </li>
  								<li>Можайское шоссе, 30, Новоивановское, 143026</li>
  							</ul>
  						</div>
  					</div>
  				</div>
  				<div class="col-sm-6 col-md-4 contact-info">
  					<div class="media">
  						<div class="media-left"><i class="fa fa-life-ring"></i></div>
  						<div class="media-body">
  							<h3 class="this-title">Высокая скорость обслуживания</h3>
  							<ul class="list-unstyled">
  								<li>+7 (495) 648-58-56</li>
  								<li><a href="mailto:{{ email }}">{{ email }}</a></li>
  							</ul>
  						</div>
  					</div>
  				</div>
  				<div class="col-sm-6 col-md-4 contact-info">
  					<div class="media">
  						<div class="media-left"><i class="fa fa-phone"></i></div>
  						<div class="media-body">
  							<h3 class="this-title">Многоканальный телефон</h3>
  							<ul class="list-unstyled">
  								<li>+7 (495) 648-58-56</li>
  								<li><a href="mailto:{{ email }}">{{ email }}</a></li>
  							</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--Google Maps -->
    <script src="{{ url_for ('static', filename='js/gmaps.min.js')}}"></script>
    <script>
      $(function () {
        email_send('#contact-form', {});
      })
    </script>
{% endblock %}