{% extends 'base.html' %}
{% block slider %}
  	
  	<!--Page Cover-->
  	<section class="row page-cover" data-bgimage="{{ url_for ('static', filename='images/faq_slider.png')}}">
  		<div class="row m0">
  			<div class="container">
				<h2 class="page-title">Отремонтировать автомобиль - легко.</h2>
			</div>
  		</div>
  	</section>
{% endblock %}
{% block content %}
    <!--Section icons-->
  	<section class="row seo-features">
  		<div class="container">
            <div class="row m0 shop-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for obj in objects %}
                        <li role="presentation" class="{% if loop.index0 == 0 %}active{% endif%}">
                            <a href="#{{ loop.index }}" aria-controls="problem-with-car" role="tab" data-toggle="tab">
                                Решим проблемы с автомобилем
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% for obj in objects %}
                        <div role="tabpanel" class="tab-pane active" id="{{ loop.index }}">
                            {{ obj.text | safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
  		</div>
  	</section>
    <!--End section icons-->
{% endblock %}
