{% extends 'base.html' %}
{% block slider %}
  	<!--Slider Area-->
  	<section class="row main-slider-area">
  		<div id="slider1" class="rev_slider" data-version="5.0">
  			<ul>
  				<li data-transition="scaledownfromleft" data-title="Slide 1">
  					<img src="{{ url_for ('static', filename='images/slide1.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Автосервисы бывают честными. Цены тоже.
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Запишитесь в надёжный автосервис по фиксированной цене. <br>
                        Никаких доплат и переплат.
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>

  				<li data-transition="scaledownfromleft" data-title="Slide 2">
  					<img src="{{ url_for ('static', filename='images/slide2.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Автосервис, которому можно доверять
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Мы тщательно подходим к обслуживанию наших клиентов. <br>
                        Берём качеством, а не количеством.
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>


                <li data-transition="scaledownfromleft" data-title="Slide 2">
  					<img src="{{ url_for ('static', filename='images/slide3.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Автосервисы без поиска по друзьям.<br>
                        Найдём и запишем онлайн.
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Рассчитаем стоимость, подберем и купим запчасти, а также запишем
                        в удобное для вас время.
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>
  			</ul>
  		</div>
  	</section>
    {% endblock %}

    {% block content %}
  	<!--Feature Services Blocks-->
  	<section class="row featured-service-blocks">
  		<div class="container">
  			<div class="col-md-4 featured-service-block">
  				<div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/11.png')}}" alt=""></div>
  				<h3 class="this-title"><a href="#">Сделайте заказ на сайте или по телефону</a></h3>
  				<p class="this-summary" style="font-size: 16px">Наши специалисты дадут бесплатную, быструю и технически грамотную консультацию по вашему вопросу.</p>
  			</div>
  			<div class="col-md-4 featured-service-block">
  				<div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/12.png')}}" alt=""></div>
  				<h3 class="this-title"><a href="#">Получите выгодное предложение в течение 10 минут</a></h3>
  				<p class="this-summary" style="font-size: 16px">Личный помощник подберет запасные части или расходные материалы.</p>
  			</div>
  			<div class="col-md-4 featured-service-block">
  				<div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/13.png')}}" alt=""></div>
  				<h3 class="this-title"><a href="#">Ремонт автомобиля точно в срок</a></h3>
  				<p class="this-summary" style="font-size: 16px">Не нужно ждать своей очереди в автосервисе. Вы приезжаете в назначенное время.</p>
                <br>
  			</div>
  		</div>
  	</section>


  	<!--Service Block-->
  	<section class="row more-services">
  		<div class="container">
  			<div class="row sectionTitle">
  				<h2 class="this-title">Более 150 услуг по ремонту и обслуживанию автомобилей</h2>
  				<p>Выберите категорию, нужную услугу и сделайте заказ</p>
  			</div>

  			<div class="service-blocks row">
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Диагностика</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_diagnostic.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Защитные плёнки</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_plenka.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Кузовные работы</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_kuzovnie_raboty.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  			</div>

            <div class="service-blocks row">
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Масла, жидкости</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_masla.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Мойка, химчистка</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_moika.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Подвеска</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_podveska.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  			</div>

            <div class="service-blocks row">
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Полировка, уход</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_polirovka.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Ремонт двигателей</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_motor.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Стёкла, фары</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_stecla.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  			</div>

            <div class="service-blocks row">
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Тех обслуживание</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_teh_obslujivanie.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Тонировка</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_tonirovka.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Тормозная система</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_tormoza.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  			</div>

            <div class="service-blocks row">
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Трансмиссия</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_transmissia.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <h3 class="this-title">Шиномонтаж</h3>
                        <a href="#">
						    <img src="{{ url_for ('static', filename='images/services/service_shinomontag.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
                        </a>
					</div>
  				</div>
  				<div class="col-sm-4 related-case2">
  					<div class="row inner">
                        <a href="#">
                            <h3 class="this-title">Электрика</h3>
                        </a>
						<img src="{{ url_for ('static', filename='images/services/service_electrika.png')}}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
					</div>
  				</div>
  			</div>

  		</div>
  	</section>
    <!-- End Service Block-->

  	<!--Served Clients-->
  	<section class="row seo-features">
  		<div class="container">
  			<div class="row sectionTitle">
  				<h2 class="this-title">Ремонт и обслуживание любых марок автомобилей</h2>
  				<p>Выберите свою марку и сделайте заказ</p>
  			</div>
            <div align="center" class="row">
                <table class="table table-bordered" style="border: hidden">
                    <tbody>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_1.png')}}" alt=""></a><p>Citroen</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_2.png')}}" alt=""></a><p>Fiat</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_3.png')}}" alt=""></a><p>AlphaRomeo</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_4.png')}}" alt=""></a><p>Audi</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_5.png')}}" alt=""></a><p>BMW</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_6.png')}}" alt=""></a><p>Honda</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_7.png')}}" alt=""></a><p>Chevrolet</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_8.png')}}" alt=""></a><p>Hunday</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_9.png')}}" alt=""></a><p>Infinity</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_10.png')}}" alt=""></a><p>Jaguar</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_11.png')}}" alt=""></a><p>Jeep</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_12.png')}}" alt=""></a><p>Kia</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_13.png')}}" alt=""></a><p>???</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_14.png')}}" alt=""></a><p>Lexus</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_15.png')}}" alt=""></a><p>Mini Cooper</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_16.png')}}" alt=""></a><p>Land ROver</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_17.png')}}" alt=""></a><p>Mazda</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_18.png')}}" alt=""></a><p>Mersedes</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_19.png')}}" alt=""></a><p>Mitsubishi</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_20.png')}}" alt=""></a><p>Nissan</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_21.png')}}" alt=""></a><p>Opel</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_22.png')}}" alt=""></a><p>Peugeot</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_23.png')}}" alt=""></a><p>Renault</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_24.png')}}" alt=""></a><p>Suzuki</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_25.png')}}" alt=""></a><p>Scoda</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_26.png')}}" alt=""></a><p>Toyota</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_27.png')}}" alt=""></a><p>Ford</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_28.png')}}" alt=""></a><p>Volkswagen</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_29.png')}}" alt=""></a><p>Volvo</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_30.png')}}" alt=""></a><p>Subaru</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
  		</div>
  	</section>
    {% endblock%}

    {% block footer %}

    {% endblock %}
