{% extends 'base.html' %}

{% set meta_title = 'Вака-Авто - Информация об услугах и сервисах автосервиса' %}
{% set meta_keywords = 'вака авто,вакаавто,вака-авто,вакаавто+,вака-авто+,автосервис,автосервис на минском шоссе,ремонт машин,ремонт иномарок,автосервис,ремонт авто,ремонт автомобилей' %}
{% set meta_description = 'Торгово-сервисный центр «ВАКА-АВТО+» принимает клиентов без выходных и оказывает услуги по авторемонту и техническому обслуживанию. Здесь вы сможете приобрести запчасти для иномарок и оставить автомобиль в руках опытных специалистов для их установки, аппаратной замены масла, ремонта бензинового двигателя или АКПП' %}

{% block slider %}
  	<!--Slider Area-->
  	<section class="row main-slider-area">
  		<div id="slider1" class="rev_slider" data-version="5.0">
  			<ul>
  				<li data-transition="scaledownfromleft" data-title="Slide 1">
  					<img src="{{ url_for ('static', filename='images/slide1.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Автосервисы бывают честными. Цены тоже.
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Запишитесь в наш надёжный автосервис. <br>
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
                        data-toggle="modal"
                        data-target="#contact3"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>

  				<li data-transition="scaledownfromleft" data-title="Slide 2">
  					<img src="{{ url_for ('static', filename='images/slide2.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Автосервис, которому можно доверять
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Мы тщательно подходим к обслуживанию наших клиентов. <br>
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
                        data-toggle="modal"
                        data-target="#contact3"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>


                <li data-transition="scaledownfromleft" data-title="Slide 2">
  					<img src="{{ url_for ('static', filename='images/slide3.jpg')}}"
						 alt=""
						 data-bgposition="center center"
						 data-bgfit="cover"
						 data-bgrepeat="no-repeat"
						 class="rev-slidebg" data-no-retina>

					<div class="tp-caption welcome-Title color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['0','0','0','0,'0','20']"
						data-fontsize="['42','36','32','30','30','24']"
						data-lineheight="['50','42','38','36','36','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Не нужно искать автосервис. Есть мы.<br>
					</div>

					<div class="tp-caption welcome-Content color-fff tp-resizeme"
						data-x="left"
						data-hoffset="0"
						data-y="top"
						data-voffset="['155','125','120','125','125']"
						data-fontsize="22"
						data-lineheight="['30','24','24','24','24','24']"
						data-width="['458','458','458','400','400','290']"
						data-height="none"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">Рассчитаем стоимость, подберем и купим запчасти, а также запишем
                        в удобное для вас время.
					</div>

					<a href="#" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
						data-x="left"
						data-hoffset="['0','0','0','0']"
						data-y="top"
						data-voffset="['260','200','200','200','220']"
						data-fontsize="16"
						data-lineheight="48"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
						data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
						data-start="1500"
						data-splitin="none"
						data-splitout="none"
                        data-toggle="modal"
                        data-target="#contact3"
						data-responsive_offset="on">Заказать звонок
					</a>

  				</li>
  			</ul>
  		</div>
  	</section>
{% endblock %}

{% block content %}
<!--Feature Services Blocks-->
<section class="row featured-service-blocks">
    <div class="container">
        <div class="col-md-4 featured-service-block">
            <div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/11.png')}}" alt=""></div>
            <h3 class="this-title"><a href="#">Сделайте заказ на сайте или по телефону</a></h3>
            <p class="this-summary" style="font-size: 16px">Наши специалисты дадут бесплатную, быструю и технически грамотную консультацию по вашему вопросу.</p>
        </div>
        <div class="col-md-4 featured-service-block">
            <div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/12.png')}}" alt=""></div>
            <h3 class="this-title"><a href="#">Получите выгодное предложение в течение 10 минут</a></h3>
            <p class="this-summary" style="font-size: 16px">Менеджер подберет запасные части или расходные материалы.</p>
        </div>
        <div class="col-md-4 featured-service-block">
            <div class="icon-holder"><img src="{{ url_for ('static', filename='images/icons/service/13.png')}}" alt=""></div>
            <h3 class="this-title"><a href="#">Ремонт автомобиля точно в срок</a></h3>
            <p class="this-summary" style="font-size: 16px">Не нужно ждать своей очереди в автосервисе. Вы приезжаете в назначенное время.</p>
            <br>
        </div>
    </div>
</section>


<!--Service Block-->
<section class="row more-services">
    <div class="container">
        <div class="row sectionTitle">
            <h2 class="this-title">Более 150 услуг по ремонту и обслуживанию автомобилей</h2>
            <p>Выберите категорию, нужную услугу и сделайте заказ</p>
        </div>
        {% for chunk in chunks(catalog, 3) %}
            <div class="service-blocks row">
                {% for service in chunk %}
                <div class="col-sm-4 related-case2">
                    <div class="row inner">
                        <a href="{{ url_for('catalog', alias=service.alias) }}">
                            <h3 class="this-title">{{ service.title }}</h3>
                            <img src="{{ url_for('image', filename=service.image) }}" class="img-responsive" style="display: inline-block; height: auto; max-width: 100%;">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
<!-- End Service Block-->

<!--Served Clients-->
<section class="row seo-features">
    <div class="container">
        <div class="row sectionTitle">
            <h2 class="this-title">Ремонт и обслуживание любых марок автомобилей</h2>
            <p>Выберите свою марку и сделайте заказ</p>
        </div>
        <div align="center" class="row">
            <table class="table table-responsive" style="border: hidden">
                <tbody>
                {% for chunk in chunks(auto_marks(), 5) %}
                    <tr>
                    {% for mark in chunk %}
                        <td style="text-align: center; border: hidden"><img src="{{ url_for('image', filename=mark.image or '')}}" alt=""><p>{{ mark.title }}</p></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
    <!-- Modal Contact Form-->
{#    <div class="modal fade" id="ContactForm" tabindex="-1" role="dialog" aria-labelledby="ContactFormLabel" aria-hidden="true" style="">#}
{#        <div class="modal-dialog" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%)">#}
{#            <div class="modal-content" style="max-width: 500px">#}
{#                <!-- Modal Header -->#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal">#}
{#                           <span aria-hidden="true">&times;</span>#}
{#                           <span class="sr-only">Close</span>#}
{#                    </button>#}
{#                    <h4 class="modal-title" id="ContactFormLabel" style="text-align: center">#}
{#                        Просто укажите ваши контактные данные и мы перезвоним вам#}
{#                    </h4>#}
{#                </div>#}
{##}
{#                <!-- Modal Body -->#}
{#                <div class="modal-body">#}
{##}
{#                    <form role="form">#}
{#                      <div class="form-group">#}
{#                        <label for="mark">Марка Авто</label>#}
{#                          <input type="text" class="form-control"#}
{#                          id="mark" placeholder="Укажите марку авто"/>#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                        <label for="model">Модель Авто</label>#}
{#                          <input type="text" class="form-control"#}
{#                          id="model" placeholder="Укажите модель авто"/>#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                        <label for="model">Вид работ</label>#}
{#                          <input type="text" class="form-control"#}
{#                          id="model" placeholder="Укажите желаемую услугу"/>#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                        <label for="phone_number">Номер телефона</label>#}
{#                          <input type="text" class="form-control"#}
{#                          id="phone_number" placeholder="Укажите ваш контактный номер"/>#}
{#                      </div>#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <!-- Modal Footer -->#}
{#                <div class="modal-footer">#}
{#                    <button type="submit" class="form-control btn btn-login center-block" data-dismiss="modal" style="max-width: 30%">Отправить</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- End Modal Contact Form-->


    <div class="dm-overlay" id="contact3">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal">
{#                        <a href="#close" class="close"></a>#}
                      <button type="button" class="close" data-dismiss="modal" style="color: #0f0f0f; opacity: 0.5"></button>
                    <h3 style="text-align: center">Просто укажите ваши контактные данные и мы перезвоним вам</h3>
                    <form id="modal-contact-form" role="form">
                      <div class="form-group">
                        <label for="mark">Марка Авто</label>
                        <select class="form-control" data-style="btn btn-small" name="mark" title="Марка" data-live-search="true">
                            {% for mark in auto_marks() %}
                              <option value="{{ mark.id }}">{{ mark.title }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="model">Модель Авто</label>
                        <input type="text" class="form-control" name="model" placeholder="Укажите модель авто"/>
                      </div>
                      <div class="form-group">
                        <label for="model">Вид работ</label>
                        <select class="form-control" data-style="btn btn-small" name="service" title="Вид работ" data-live-search="true">
                            {% for service in services() %}
                              <option value="{{ service.id }}">{{ service.title }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="phone_number">Номер телефона</label>
                        <input type="text" class="form-control" name="tel" placeholder="Укажите ваш контактный номер" required/>
                      </div>
                        <span class="input-group-btn">
                            <button type="submit" class="form-control btn btn-login center-block" style="margin-left: auto ;max-width: 30%">Отправить</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
