{% extends 'base.html' %}
{% block slider %}
  	<!--Page Cover-->
  	<section class="row page-cover" data-bgimage="{{ url_for ('static', filename='images/marks_slider.png')}}">
  		<div class="row m0">
  			<div class="container">
				<h2 class="page-title">Обслуживаем автомобили любой марки. Проверьте.</h2>
			</div>
  		</div>
  	</section>
{% endblock %}

{% block content %}
    <!--Section icons-->
  	<section class="row seo-features">
  		<div class="container">
  			<div class="row sectionTitle">
  				<h2 class="this-title">Ремонт и обслуживание любых марок автомобилей</h2>
  				<p>Выберите свою марку и сделайте заказ</p>
  			</div>
            <div align="center" class="row">
                <table class="table table-bordered" style="border: hidden">
                    <tbody>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_1.png')}}" alt=""></a><p>Citroen</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_2.png')}}" alt=""></a><p>Fiat</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_3.png')}}" alt=""></a><p>AlphaRomeo</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_4.png')}}" alt=""></a><p>Audi</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_5.png')}}" alt=""></a><p>BMW</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_6.png')}}" alt=""></a><p>Honda</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_7.png')}}" alt=""></a><p>Chevrolet</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_8.png')}}" alt=""></a><p>Hunday</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_9.png')}}" alt=""></a><p>Infinity</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_10.png')}}" alt=""></a><p>Jaguar</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_11.png')}}" alt=""></a><p>Jeep</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_12.png')}}" alt=""></a><p>Kia</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_13.png')}}" alt=""></a><p>???</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_14.png')}}" alt=""></a><p>Lexus</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_15.png')}}" alt=""></a><p>Mini Cooper</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_16.png')}}" alt=""></a><p>Land ROver</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_17.png')}}" alt=""></a><p>Mazda</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_18.png')}}" alt=""></a><p>Mersedes</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_19.png')}}" alt=""></a><p>Mitsubishi</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_20.png')}}" alt=""></a><p>Nissan</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_21.png')}}" alt=""></a><p>Opel</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_22.png')}}" alt=""></a><p>Peugeot</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_23.png')}}" alt=""></a><p>Renault</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_24.png')}}" alt=""></a><p>Suzuki</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_25.png')}}" alt=""></a><p>Scoda</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_26.png')}}" alt=""></a><p>Toyota</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_27.png')}}" alt=""></a><p>Ford</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_28.png')}}" alt=""></a><p>Volkswagen</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_29.png')}}" alt=""></a><p>Volvo</p></td>
                        <td style="text-align: center; border: hidden"><a href="/calc/"><img src="{{ url_for ('static', filename='images/car_logos/car_logo_30.png')}}" alt=""></a><p>Subaru</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
  		</div>
  	</section>
    <!--End section icons-->
{% endblock %}