{% extends 'base.html' %}

{% set meta_title = 'Вака-Авто - Сервисы Техцентра' %}
{% set meta_keywords = '' %}
{% set meta_description = '' %}

{% block slider %}
  	<!--Page Cover-->
  	<section class="row page-cover" data-bgimage="/static/images/faq_slider.png">
  		<div class="row m0">
  			<div class="container">
				<h2 class="page-title">От полировки до ремонта двигателя. Легко.</h2>
			</div>
  		</div>
  	</section>
{% endblock %}
{% block content %}
    <section class="services-all" style="margin-top: 3%">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- tabs left -->
                    <ul class="nav nav-tabs tabs-left" style="margin-right: 0">
                        {% for catalog in catalogs %}
                            {% set catalog = catalog.obj %}
                            {% set catalog_alias = catalog.title | transliterate %}
                            <li class="{% if loop.first or catalog_alias == alias %}active{% endif %}">
                                <a href="#{{ catalog_alias }}" data-toggle="tab">
                                    <span class="{% if catalog.glyphicon %}glyphicon glyphicon-{{ catalog.glyphicon }}{% endif %}" aria-hidden="true"></span>
                                    {{ catalog.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        {% for catalog in services %}
                            {% if catalog.services %}
                                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ service.title | transliterate }}">
                                    {% for service in catalog.services %}
                                        <p>Диагностика АКПП</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- /tabs -->
                </div>
            </div>
        <!-- /row -->
        </div>
        <hr>
    </section>
{% endblock %}
